/* For screenshots that need to be smaller than .img-sm */
#content .img-smallest {
  width: 25.4375rem;
}

/* For tile card images that overflow */
.crop {
  height: 160px;
  overflow: hidden;
}

.crop img {
  height: 100%;
  width: auto;
}

.blog-card {
  min-height: 296px;
  margin-bottom: 20px;
}

/* For homepage styles */
.code_snippet {
  background-color: #F5F5F5;
  padding: 1rem 0;
  color: #000000;
  border-radius: 1px;
  box-shadow: 1px 1px 2px 1px #E0E0E0;
  font-size: 0.8rem;
}

#welcome_title {
  font-weight: 500;
}
