---
---
/* Temporary styles until we can switch all of devcenter to use synapse */
@import "../synapse/images";
@import "../synapse/code";
@import "../synapse/variables";
@import "../synapse/typography-modifiers";
@import "../synapse/table";
@import "../synapse/nav";
@import "../synapse/overflow";

body {
  min-height: 100vh;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
}
#wrapper,
.dev-center-content-container {
  flex-grow: 1;
  max-width: 100%;
}
#wrapper {
  margin-top: 2rem;
}
.syn-header-wrapper {
  position: sticky;
  top: 0;
  z-index: 500;
}
.show-unauth,
.show-auth {
  display: none !important;
}
.show-auth-nav .show-auth,
.show-unauth-nav .show-unauth {
  display: initial !important;
}

img {
  @extend .syn-image-responsive;
}

pre {
  overflow: scroll;
  white-space: pre-wrap;
  margin: 0;
  max-height: 21.25rem;
}

figure.highlight {
  @extend .syn-code-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: $font-size-body-2;
}

code-sample[v-cloak] {
  // Hide all but the first element inside a code sample until vue component mounts
  & > :not(:first-child) {
    display: none;
  }
}

p {
  @extend .syn-body-1;
}

table {
  @extend .syn-table;
}

// Styles for side menu before vue finishes loading
side-nav-menu[v-cloak] {
  .cloak-hidden {
    display: none;
  }

  .cloak-open-nav-item {
    @extend .open-nav-item;
  }

  .cloak-closed-nav-item {
    @extend .closed-nav-item;
  }
}

#scrollspy-content {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.syn-btn {
  i {
    vertical-align: sub;
  }
}

// Pulling these styles over from the old dev center styles,
// because this is a very effective responsive youtube iframe setup
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 1rem;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
