---
---
/* Temporary styles until we can switch all of devcenter to use synapse */
@import "../synapse/images";
@import "../synapse/code";
@import "../synapse/variables";

body {
  min-height: 100vh;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
}
#wrapper,
.dev-center-content-container {
  flex-grow: 1;
  max-width: 100%;
}
#wrapper {
  margin-top: 2rem;
}
.syn-header-wrapper {
  position: sticky;
  top: 0;
  z-index: 500;
}
.show-unauth,
.show-auth {
  display: none !important;
}
.show-auth-nav .show-auth,
.show-unauth-nav .show-unauth {
  display: initial !important;
}

img {
  @extend .syn-image-responsive;
}

figure.highlight {
  @extend .syn-code-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: $font-size-body-2;

  pre {
    overflow: scroll;
    white-space: pre-wrap;
  }
}

.syn-user-image {
  &.full-image {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: calc(100% / 1.41);
      max-height: calc(100% / 1.41);
      object-fit: contain;
      border-radius: 0 !important;
    }
  }
}
