---
---
/* Temporary styles until we can switch all of devcenter to use synapse */
@import "../synapse/images";
@import "../synapse/code";
@import "../synapse/variables";
@import "../synapse/typography-modifiers";
@import "../synapse/grid";

body {
  min-height: 100vh;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
}
#wrapper,
.dev-center-content-container {
  flex-grow: 1;
  max-width: 100%;
}
#wrapper {
  margin-top: 2rem;
}
.syn-header-wrapper {
  position: sticky;
  top: 0;
  z-index: 500;
}
.show-unauth,
.show-auth {
  display: none !important;
}
.show-auth-nav .show-auth,
.show-unauth-nav .show-unauth {
  display: initial !important;
}

img {
  @extend .syn-image-responsive;
}

pre {
  overflow: scroll;
  white-space: pre-wrap;
  margin: 0;
  max-height: 21.25rem;
}

figure.highlight {
  @extend .syn-code-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: $font-size-body-2;
}

code-sample[v-cloak] {
  // Hide all but the first element inside a code sample until vue component mounts
  & > :not(:first-child) {
    display: none;
  }
}

p {
  @extend .syn-body-1;
}

.syn-article {
  @extend .syn-row;

  & > * {
    @extend .syn-col;

    &:not(.syn-aside) {
      @extend .syn-col-lg-7;
      margin-bottom: $space-16;
    }

    &.syn-aside {
      @extend .syn-col-lg-12;
      @extend .syn-row;
      flex-grow: 1;
      max-width: unset;

      & .syn-aside-main {
        @extend .syn-col;
        @extend .syn-col-lg-7;
      }

      & .syn-aside-side {
        @extend .syn-col;
        @extend .syn-col-lg-5;
      }
    }
  }
}
