---
---

@import "../synapse/variables";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url({{site.baseurl}}/fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url({{site.baseurl}}/fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url({{site.baseurl}}/fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url({{site.baseurl}}/fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

$sizes: (
  "4": $space-4,
  "8": $space-8,
  "12": $space-12,
  "16": $space-16,
  "20": $space-20,
  "24": $space-24,
  "32": $space-32,
  "48": $space-48,
  "56": $space-56,
  "64": $space-64,
);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $space-16;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  @each $label, $size in $sizes {
    &.icon-size-#{$label} {
      font-size: $size !important;
    }
  }
}
