<nav class="syn-dropdown-list-header breadcrumbs syn-caption syn-mb-0">
  {% if page.menus %}
    {% include breadcrumb-section.html menu_id="main" %}
  {% else %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-item">
      <a href="{{site.baseurl}}" itemprop="title" class="syn-caption syn-text-secondary syn-link-no-decoration syn-link-animated syn-mb-0">
        Home
      </a>
    </span>
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-item active">
      <span itemprop="title" class="syn-caption syn-text-secondary syn-mb-0">{{page.title}}</span>
    </span>
  {% endif %}
</nav>
