{% for section in site.menus[include.menu_id] %}
  {% assign section_active = page.menus[section.identifier] %}
  {% assign checking = section %}
  {% include section-active.html %}

  {% if section_active %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-item">
      <a href="{{ section.url }}" itemprop="title" class="syn-caption syn-text-secondary syn-link-no-decoration syn-link-animated syn-mb-0">
        {{ section.title }}
      </a>
    </span>
    {% if section.children %}
      {% include breadcrumb-section.html menu_id=section.identifier %}
    {% endif %}
  {% endif %}
{% endfor %}
