<footer role="contentinfo" id="site-footer">
  <div class="container">
    <div class="copyright pull-left">
      <img src="{{ '/images/favicon-white.png' | relative_url }}" alt="{{ site.title }}" itemprop="image" width="16" height="16">
      {{ site.time | date: '%Y' }} {{ site.owner["name"] }}
    </div>

    <nav role="navigation" class="bottom-menu pull-right">
      <ul class="menu-item">
      {% for link in site.data.footer %}
        {% if link.url contains 'http' %}
          {% assign href = site.url %}
          {% else %}
          {% assign href = site.url | relative_url %}
        {% endif %}
        <li><a href="{{ href }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </nav><!-- /.bottom-menu -->
  </div>
</footer>
