<footer role="contentinfo" id="site-footer">
 <p class="copyright">
    <img src="{{ site.url }}/images/favicon-white.png" alt="{{ site.title }}" itemprop="image" width="16" height="16">
    &#169; {{ site.time | date: '%Y' }} {{ site.owner["name"] }}
  </p>

  <nav role="navigation" class="bottom-menu">
    <ul class="menu-item">
    {% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
      <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
    </ul>
  </nav><!-- /.bottom-menu -->
</footer>
