<div class="syn-styles-supported">
  <header class="syn-page-header" :class="{ 'nav-open': navOpen === true }">
    <div class="syn-page-header-nav-backdrop" @click="toggleNavMenu"></div>
    <div class="syn-page-header-content syn-flex justify-space-between">
      <div class="syn-flex align-center">
        <button
          class="syn-btn icon text grow syn-hidden-lg"
          @click="toggleNavMenu"
        >
          <hamburger-icon />
        </button>
        <a class="syn-flex" href="/">
          <img
            class="syn-ml-8"
            src="/v1/config/logo"
            :style="{ maxHeight: '24px', maxWidth: '100%' }"
          />
        </a>
        <template v-if="stage.publicMarketplace || stage.brandTitle">
          <div
            class="syn-page-header-divider vertical syn-ml-16 syn-mr-16"
          ></div>
          <span class="syn-font-mono syn-caption syn-text-tertiary syn-mb-0">{{
            stage.brandTitle || 'AI LAYER'
          }}</span>
        </template>
      </div>
      <div>
        {% unless site.enterprise %}
        <a href="/product" class="syn-link-no-decoration">
          <button class="syn-btn text syn-visible-lg">Product</button>
        </a>
        <a href="/pricing" class="syn-link-no-decoration">
          <button class="syn-btn text syn-visible-lg syn-ml-16">
            Pricing
          </button>
        </a>
        <div direction="left" class="syn-dropdown syn-ml-16">
          <button class="syn-btn text syn-visible-lg" onclick="this.parentNode.classList.toggle('open')">
            Learn <svg class="syn-ml-4" width="7px" height="4px" viewBox="0 0 7 4">
              <polygon fill="currentColor" points="0 0 6.688 0 3.344 3.344"></polygon>
            </svg>
          </button>
          <div class="syn-dropdown-list">
            <div class="syn-dropdown-list-item syn-body-2 syn-mb-0">
              <a href="/resources">Resources</a>
            </div>
            <div class="syn-dropdown-list-item syn-body-2 syn-mb-0">
              <a href="/developers">Docs</a>
            </div>
            <div class="syn-dropdown-list-item syn-body-2 syn-mb-0">
              <a href="https://blog.algorithmia.com" target="_blank"
                >Blog
                <launch-icon height="14px" width="14px" class="syn-ml-4"
              /></a>
            </div>
            <div class="syn-dropdown-list-item syn-body-2 syn-mb-0">
              <a href="https://learn.algorithmia.com" target="_blank"
                >Learning Center
                <launch-icon height="14px" width="14px" class="syn-ml-4"
              /></a>
            </div>
          </div>
        </div>
        {% endunless %}
        <a
          v-if="!isLoggedIn"
          href="/signin"
          data-e2e="header-signin-link"
        >
          <button class="syn-btn text theme-primary syn-visible-lg syn-ml-16">
            Sign in
          </button>
        </a>
        <a v-if="!isLoggedIn" href="/signup" class="syn-link-no-decoration">
          <button
            class="syn-btn outlined theme-primary syn-visible-lg syn-ml-16"
          >
            {% if site.enterprise %}
            <span>Create Account</span>
            {% else %}
            <span>Try It For Free</span>
            {% endif %}
          </button>
        </a>
        {% unless site.enterprise %}
        <a href="/demo" class="syn-link-no-decoration">
          <button
            class="syn-btn contained theme-accent syn-visible-lg syn-ml-16"
          >
            Get Your Demo
          </button>
        </a>
        {% endunless %}
        <a v-if="isLoggedIn" href="/">
          <button
            class="syn-btn outlined theme-primary syn-ml-16 syn-visible-lg"
          >
            Return to App
          </button>
        </a>
      </div>
    </div>
    <div class="syn-page-header-nav" @click="toggleNavMenu">
      <nav class="syn-nav pt-16">
        <ul>
          <li>
            <a
              v-if="!isLoggedIn && stage.publicMarketplace"
              href="/demo"
              >Get Your Demo</a
            >
          </li>
          <li>
            <a v-if="!isLoggedIn" href="/signup">
              {% if site.enterprise %}
              <span>Create Account</span>
              {% else %}
              <span>Try It For Free</span>
              {% endif %}
            </a>
          </li>
          <li>
            <a v-if="!isLoggedIn" href="/signin">Sign In</a>
          </li>
          <li>
            <a v-if="isLoggedIn" href="/">Return to App</a>
          </li>
        </ul>
        {% unless site.enterprise %}
        <div class="syn-break syn-mt-16"></div>
        <ul>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/product">Product</a></li>
        </ul>
        <div class="syn-break syn-mt-16"></div>
        <p class="syn-overline pt-16">Industries</p>
        <ul>
          <li v-for="industry in industries" :key="industry">
            <a :href="`/enterprise/${industry}`">{{
              industry
            }}</a>
          </li>
        </ul>
        <div class="syn-break syn-mt-16"></div>
        <p class="syn-overline pt-16">Learn</p>
        <ul class="syn-mb-16">
          <li><a href="/developers">Docs</a></li>
          <li><a href="/resources">Resources</a></li>
          <li>
            <a
              class="syn-flex align-center"
              href="https://blog.algorithmia.com"
            >
              Blog <launch-icon height="14px" width="14px" class="syn-ml-4" />
            </a>
          </li>
          <li>
            <a
              class="syn-flex align-center"
              href="https://learn.algorithmia.com"
            >
              Learning Center
              <launch-icon height="14px" width="14px" class="syn-ml-4" />
            </a>
          </li>
        </ul>
        {% endunless %}
      </nav>
    </div>
  </header>
</div>
