<header class="syn-styles-supported supports-synapse-typography syn-page-header">
  <div class="utility-header syn-visible-lg">
    <div class="syn-pr-32 syn-pv-8 syn-flex flex-row justify-end">
      <div class="hide-if-signed-in">
        <a href="/signin" class="syn-link syn-font-weight-bold syn-text-secondary syn-text-sm">
          Sign in
        </a>
      </div>
      <div>
        <a href="/contact" class="syn-link syn-font-weight-bold syn-text-secondary syn-text-sm syn-ml-24">
          Contact us
        </a>
      </div>
    </div>
  </div>
  <div onclick="['nav-open'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))"></div>
  <div class="syn-page-header-content syn-flex justify-space-between">
    <div class="syn-flex align-center">
      <a class="syn-flex" href="/">
        <img class="syn-ml-8" src="/v1/config/logo" style="max-height: 40px; max-width: 100%;" />
      </a>
    </div>
    <button class="syn-btn icon text grow syn-hidden-lg" onclick="['nav-open'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))">
      <svg width="32" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="open-button"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1 1h29.849M1 10h29.849M1 19h29.849"></path></g></svg>
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="close-button"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1.371 22.553L22.478 1.447M1.371 1.461l21.107 21.107"></path></g></svg>
    </button>
    <div class="syn-visible-lg">
      <a href="/mlops" class="syn-link-no-decoration">
        <button class="syn-btn text">MLOps</button>
      </a>
      <a href="/product" class="syn-link-no-decoration">
        <button class="syn-btn text syn-ml-8">Product</button>
      </a>
      <a href="/pricing" class="syn-link-no-decoration">
        <button class="syn-btn text syn-ml-8">Pricing</button>
      </a>
      <div class="syn-dropdown syn-ml-8">
        <button class="syn-btn text" onclick="this.parentNode.classList.toggle('open')">
          Learn
          <svg width="7px" height="4px" viewBox="0 0 7 4" class="syn-ml-4">
            <polygon fill="currentColor" points="0 0 6.688 0 3.344 3.344"></polygon>
          </svg>
        </button>
        <div class="open-break syn-bg-black syn-mt-8"></div>
        <ul class="syn-dropdown-list" onclick="this.parentNode.classList.toggle('open')">
          <li class="syn-dropdown-list-item syn-body-2 syn-mb-0">
            <a href="/blog" class="syn-ph-48 syn-pv-16 display-block">
              <div class="syn-font-weight-bold">Blog</div>
              <div class="link-description">
                Special topics in machine learning
              </div>
            </a>
          </li>
          <li class="syn-dropdown-list-item syn-body-2 syn-mb-0">
            <a href="/resources" class="syn-ph-48 syn-pv-16 display-block">
              <div class="syn-font-weight-bold">Resources</div>
              <div class="link-description">
                Case studies, videos, and reports
              </div>
            </a>
          </li>
          <li class="syn-dropdown-list-item syn-body-2 syn-mb-0">
            <a href="/developers" class="syn-ph-48 syn-pv-16 display-block">
              <div class="syn-font-weight-bold">Docs</div>
              <div class="link-description">
                Platform technical documentation
              </div>
            </a>
          </li>
          <li class="syn-dropdown-list-item syn-body-2 syn-mb-0">
            <a href="/events" class="syn-ph-48 syn-pv-16 display-block">
              <div class="syn-font-weight-bold">Events</div>
              <div class="link-description">
                Webinars, talks, and trade shows
              </div>
            </a>
          </li>
        </ul>
      </div>
      <a
        href="/demo"
        class="syn-btn text syn-ml-8 syn-link-no-decoration display-inline-flex">
        Demo
      </a>
      <a href="/signup"
        class="syn-btn outlined no-capitalize theme-primary syn-visible-lg syn-ml-8 syn-pv-8 syn-link-no-decoration display-inline hide-if-signed-in"
        rel="noopener noreferrer">
        Try now
      </a>
    </div>
  </div>
  <div class="syn-page-header-nav mobile-nav-container syn-hidden-lg" >
    <nav class="syn-nav syn-pt-16">
      <ul class="mobile-nav syn-mb-16">
        <li class="syn-list-item"><a class="syn-link syn-font-weight-bold syn-text-base syn-text-primary" href="/mlops">MLOps</a></li>
        <li class="syn-list-item"><a class="syn-link syn-font-weight-bold syn-text-base syn-text-primary" href="/product">Product</a></li>
        <li class="syn-list-item"><a class="syn-link syn-font-weight-bold syn-text-base syn-text-primary" href="/pricing">Pricing</a></li>
        <li class="accordion-button syn-list-item">

          <div class="syn-pv-8 syn-ph-16 syn-flex align-center syn-width-full justify-space-between syn-link syn-font-weight-bold" onclick="['accordion-open'].forEach((a) => document.querySelector('.accordion-button').classList.toggle(a))">
            <span class="syn-text-base syn-text-primary">Learn</span>
            <svg width="14" height="10" viewBox="0 0 7 4" class="accordion-caret syn-ml-4 syn-text-primary"><polygon fill="currentColor" points="0 0 6.688 0 3.344 3.344"></polygon></svg>
          </div>

          <ul class="learn-accordion syn-ph-24 syn-width-full">
            <li class="syn-list-item">
              <a href="/blog" class="syn-link syn-font-weight-bold syn-text-primary display-block">
                <div class="syn-font-weight-bold syn-text-sm">Blog</div>
                <div class="link-description syn-mt-8 syn-font-weight-regular">
                  Special topics in machine learning
                </div>
              </a>
            </li>
            <li class="syn-list-item">
              <a href="/resources" class="syn-link syn-font-weight-bold syn-text-primary display-block">
                <div class="syn-font-weight-bold syn-text-sm">
                  Resources
                </div>
                <div class="link-description syn-mt-8 syn-font-weight-regular">
                    Case studies, videos, and reports
                </div>
              </a>
            </li>
            <li class="syn-list-item">
              <a href="/developers" class="syn-link syn-font-weight-bold syn-text-primary display-block">
                <div class="syn-font-weight-bold syn-text-sm">Docs</div>
                <div class="link-description syn-mt-8 syn-font-weight-regular">
                  Platform technical documentation
                </div>
              </a>
            </li>
            <li class="syn-list-item">
              <a href="https://events.algorithmia.com" rel="noopener noreferrer" class="syn-link syn-font-weight-bold syn-text-primary display-block">
                <div class="syn-font-weight-bold syn-text-sm">Events</div>
                <div class="link-description syn-mt-8 syn-font-weight-regular">
                    Webinars, talks, and trade shows
                </div>
              </a>
            </li>
          </ul>

        </li>
        <li class="syn-list-item hide-if-signed-in">
          <a href="/signin" class="syn-link syn-font-weight-bold syn-text-base syn-text-primary">
           Sign In
          </a>
        </li>
      </ul>
      <div class="syn-mb-16 hide-if-signed-in">
        <a href="/signup" class="syn-link display-block syn-mh-16 outlined">
          <div class="syn-btn no-capitalize theme-primary syn-width-full outlined">
            Try now
          </div>
        </a>
      </div>
      <div>
        <a href="/demo" class="syn-ph-16 display-block">
          <div class="syn-btn no-capitalize contained theme-primary syn-width-full">
            See a demo
          </div>
        </a>
      </div>
    </nav>
  </div>
</header>
