<header class="syn-styles-supported supports-synapse-typography syn-page-header">
  <div class="utility-header syn-visible-lg">
    <div class="syn-pr-32 syn-pv-8 syn-flex flex-row justify-end">
      <div class="hide-if-signed-in">
        <a href="/signin" class="syn-link syn-font-weight-bold syn-text-secondary syn-text-sm">
          Sign in
        </a>
      </div>
      <div>
        <a href="/contact" class="syn-link syn-font-weight-bold syn-text-secondary syn-text-sm syn-ml-24">
          Contact us
        </a>
      </div>
    </div>
  </div>
  <div onclick="['nav-open'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))"></div>
  <div class="syn-page-header-content syn-flex justify-space-between">
    <div class="syn-flex align-center">
      <a class="syn-flex" href="/">
        <img class="syn-ml-8" src="/v1/config/logo" style="max-height: 40px; max-width: 100%;" />
      </a>
    </div>
    <button class="syn-btn icon text grow syn-hidden-lg" onclick="['nav-open'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))">
      <svg width="32" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="open-button"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1 1h29.849M1 10h29.849M1 19h29.849"></path></g></svg>
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="close-button"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1.371 22.553L22.478 1.447M1.371 1.461l21.107 21.107"></path></g></svg>
    </button>
    <div class="syn-visible-lg">
      <a href="/mlops" class="syn-link-no-decoration">
        <button class="syn-btn text">MLOps</button>
      </a>
      <a
        href="https://www.datarobot.com/platform/?utm_source=algorithmia&utm_medium=web&utm_campaign=AICLOUD21-ALGO"
        class="syn-link-no-decoration"
        rel="noopener noreferrer"
        target="_blank"
      >
        <button class="syn-btn text syn-ml-8">Product</button>
      </a>
      <a href="/developers" class="syn-link-no-decoration">
        <button class="syn-btn text syn-ml-8">Docs</button>
      </a>
      <a
        href="https://www.datarobot.com/blog/"
        class="syn-link-no-decoration"
        rel="noopener noreferrer"
        target="_blank"
      >
        <button class="syn-btn text syn-ml-8">DataRobot Blog</button>
      </a>
      <a
        href="https://www.datarobot.com/request-a-demo/algorithmia/?utm_source=algorithmia&utm_medium=web&utm_campaign=ALGDR21ALGO"
        class="syn-btn syn-ml-8 syn-link-no-decoration display-inline-flex contained theme-primary custom-btn"
      >
        Request a DataRobot Demo
      </a>
    </div>
  </div>
  <div class="syn-page-header-nav mobile-nav-container syn-hidden-lg" >
    <nav class="syn-nav syn-pt-16">
      <ul class="mobile-nav syn-mb-16">
        <li class="syn-list-item"><a class="syn-link syn-font-weight-bold syn-text-base syn-text-primary" href="/mlops">MLOps</a></li>
        <li class="syn-list-item">
          <a
            href="https://www.datarobot.com/platform/?utm_source=algorithmia&utm_medium=web&utm_campaign=AICLOUD21-ALGO"
            class="syn-link syn-font-weight-bold syn-text-base syn-text-primary"
            rel="noopener noreferrer"
            target="_blank"
          >
            Product
          </a>
        </li>
        <li class="syn-list-item">
          <a href="/developers" class="syn-link syn-font-weight-bold syn-text-base syn-text-primary">
            Docs
          </a>
        </li>
        <li class="syn-list-item">
          <a
            href="https://www.datarobot.com/blog/"
            class="syn-link syn-font-weight-bold syn-text-base syn-text-primary"
            rel="noopener noreferrer"
            target="_blank"
          >
            DataRobot Blog
          </a>
        </li>
        <li class="syn-list-item hide-if-signed-in">
          <a href="/signin" class="syn-link syn-font-weight-bold syn-text-base syn-text-primary">
           Sign In
          </a>
        </li>
      </ul>
      <div>
        <a
          href="https://www.datarobot.com/request-a-demo/algorithmia/?utm_source=algorithmia&utm_medium=web&utm_campaign=ALGDR21ALGO"
          class="custom-btn-mobile font-bold mx-4 my-4 py-2 text-center"
        >
          Request a DataRobot Demo
        </a>
      </div>
    </nav>
  </div>
</header>
