<side-nav-menu
  v-cloak
  class="syn-flex direction-column flex-item-grow syn-overflow-hidden{% unless include.menu_level == 0 %} syn-width-full {% endunless %}">
  <ul slot-scope="{ toggle, openSection }" class="syn-flex direction-column flex-item-grow {% if include.menu_level == 0 %} syn-overflow-hidden {% else %}syn-width-full  syn-overflow-hidden-x syn-scrollable-y{% endif %}" id="{{ include.menu_level }}">
    {% for domain in site.menus[include.menu_id] %}
      {% assign domain_active = page.menus[domain.identifier] %}
      {% assign checking = domain %}
      {% include section-active.html %}
      <li
        class="{% if domain_active %}cloak-open-nav-item{% else %}cloak-closed-nav-item{% endif %} syn-overflow-hidden allow-wrap"
        :class="{
          'open-nav-item': openSection === '{{domain.identifier}}',
          'closed-nav-item': openSection !== '{{domain.identifier}}'
        }"
        id="{{ domain.identifier }}-list-item"
        >
        <a
          class="{% if domain.children %}no-bg-active{% endif %} flex-item-no-shrink syn-flex justify-space-between align-center {% if include.menu_level == 0 %}syn-font-weight-bold bordered{% endif %} {% if domain_active or page.url == domain.url %}syn-font-weight-bold active {% else %} syn-text-secondary {% endif %}"
          href="{{ domain.url }}"
          title="{{ domain.title }}"
          {% if domain.children %}
            @click.prevent.stop="toggle('{{ domain.identifier }}')"
          {% endif %}
          id="{{ domain.identifier }}-link">
          <div {% if include.menu_level > 1 %}
              {% assign indent = include.menu_level | minus:1 | times:16 %}
              class="syn-ml-{{indent}}"
            {% endif %}>
            {{ domain.title }}
          </div>
          {% if domain.children %}
            <span v-if="openSection === '{{ domain.identifier }}'" {% unless page.menus[domain.identifier] %} class="cloak-hidden" {% endunless %}>
              {% include angle-up-svg.html %}
            </span>
            <span v-else {% if page.menus[domain.identifier] %} class="cloak-hidden" {% endif %}>
              {% include angle-down-svg.html %}
            </span>
          {% endif %}
        </a>
        {% if domain.children %}
          {% assign next_menu_level = include.menu_level | plus:1 %}
          {% include nav-menu.html menu_id=domain.identifier menu_level=next_menu_level %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</side-nav-menu>
