{% if page.categories %}
  {% assign page_cat = page.categories %}
{% else %}
  {% assign page_cat = "none" %}
{% endif %}

<h3>Topics</h3>
<div id="search">
  <form action="/search" method="get">
    <!-- <i class="fa fa-search"></i> -->
    <input type="text" id="search-query" name="q" placeholder="&#xf002;  Search" autocomplete="on">
  </form>
</div>
<ul id="sidebar" class="nav">
  {% for link in site.data.toc %}
    {% if link.url == page.url or page_cat == link.category or page_cat contains link.category%}
      <li class="active">
    {% else %}
      <li>
    {% endif %}
      <a href="{{link.url}}">
        {{link.title}}
        {% if link.category and site.categories[link.category] %}
          <i class="fa fa-angle-down"></i>
        {% elsif link.url == 'http://docs.algorithmia.com' %}
          <i class="fa fa-external-link" aria-hidden="true"></i>
        {% endif %}
      </a>
      {% if link.category and site.categories[link.category] %}
        <ul class="nav">
          {% assign sorted = site.categories[link.category] | sort:"title" %}
          {% for item in sorted %}
            {% if item.url == page.url or page_cat == item.category or page_cat contains item.category %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
  </li>
{% endfor %}
</ul>
