<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }}</h5>
  <ul class="menu-item">
    {% for link in site.data.navigation %}<li>
      {% if link.url contains 'http' %}
        {% assign href = link.url %}
      {% else %}
        {% assign href = link.url | relative_url %}
      {% endif %}

      <a href="{{ href }}">
        {% if link.image %}<img src="{{ link.image | prepend:'/images/' | relative_url }}" alt="teaser" class="teaser">{% endif %}
        <div class="title">{{ link.title }}</div>
        {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
      </a>
    </li>{% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
