{% for link in site.data.navigation %}
<div class="tile">
  <a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}" class="post-teaser">
    
  {% if link.image %}
    <img src="{{ site.url }}/images{{ link.image }}" alt="teaser" class="teaser" itemprop="image">
  {% endif %}

    <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></h2>
    <p class="post-excerpt" itemprop="description">{{ link.excerpt | strip_html | truncate: 160 }}</p>
  </a>
</div><!-- /.tile -->
{% endfor %}
