{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<p class="author-name" >{{ site.data.messages.locales[site.locale].written_by }}
	<a href="{{ author.slug | relative_url }}" itemprop="author">{{ author.name }}</a>
</p>
<p class="author-bio">{{ author.bio }}</p>

{% if author.linkedin %}<a href="http://linkedin.com/in/{{ author.linkedin }}" class="btn-social linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{% endif %}
{% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="btn-social twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>{% endif %}
{% if author.email %}<a href="mailto:{{ author.email }}" class="btn-social youtube"><i class="fa fa-envelope" aria-hidden="true"></i></a>{% endif %}
{% if author.web %}<a href="{{ author.web }}" class="btn-social rss"><i class="fa fa-globe" aria-hidden="true"></i></a>{% endif %}