{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div class="author-image">
	<img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}">
</div><!-- ./author-image -->

<div class="author-content">
  <h4 class="author-name" >{{ site.data.messages.locales[site.locale].written_by }}

    <a href="{{ site.url }}/authors/{{ author.slug }}" itemprop="author">{{ author.name }}</a>

  <p class="author-bio">{{ author.bio }}</p>
</div><!-- ./author-content -->