<div class="col-xs-4 col-sm-3 lang-tile">
  <a href="{{ post.url | relative_url }}" title="{{ post.title }}" class="post-teaser">
    {% if post.image.teaser %}
      <img src="{{ post.image.teaser | prepend:'/images' | relative_url }}" alt="" itemprop="image" class="lang-icon">
    {% else %}
      <img class="larger_icon" src="{{ post.image.teaser | prepend:'/images' | relative_url }}" alt="icon" itemprop="image">
    {% endif %}
  </a>

  <p itemprop="name" class="lg"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
</div>