<div class="bullets">
	{% for post in site.posts %}
	<div class="bullet three-col-bullet">
		<div class="bullet-icon">
			<a href="{{ post.url | relative_url }}"><img src="{{ post.image.teaser | prepend:'/images' | relative_url }}" alt=""></a>
		</div><!-- /.bullet-icon -->
		<div class="bullet-content">
			<a href="{{ post.url | relative_url }}"><h2>{{ post.title }}</h2></a>
			<p>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
		</div><!-- /.bullet-content -->
	</div><!-- /.bullet -->
	{% endfor %}
</div><!-- /.bullets -->