<article itemscope itemtype="http://schema.org/Article">
  <div class="col-xs-3">
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
      {% if post.image.teaser %}
        <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="" itemprop="image">
      {% else %}
        <img class="larger_icon" src="{{ site.url }}/images/{{ post.image.teaser }}" alt="icon" itemprop="image">
      {% endif %}
    </a>

    <a href="{{ site.url }}{{ post.url }}"><p itemprop="name">{{ post.title }}</p></a>
  </div>
</article>
