<div class="row">
  <div class="col-md-12">
    <h3>{{ tag | replace: '-', ' ' | capitalize }}</h3>
  </div>
  <div class="col-md-3">
    <img src="{{ site.url }}{{ site.baseurl }}/images/icons/{{ tag }}.png" alt="" itemprop="image">
  </div>
  <div class="col-md-9" id="{{tag}}">
    {% for post in recipes %}
      {% if post.tags contains tag %}
        <li class="no-style">
          <h4 class="m-B-n"><a href="{{ post.repository }}">{{ post.title }}</a></h4>
          <p>{{ post.excerpt }}</p>
        </li>
        <a href="{{ post.blog }}" class="btn btn-default btn-primary"><i class="fa fa-book" aria-hidden="true"></i> READ</a>
        <a href="{{ post.repository }}" class="btn btn-default btn-primary"><i class="fa fa-github" aria-hidden="true"></i> FORK</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
