<div>
  {% for post in recipes %}
    <div class="syn-card outlined syn-mb-32">
      <div class="syn-media-object">
        {% if post.thumbnail %}
          <div class="syn-media-object-image">
            <div class="syn-user-image syn-user-image-56">
              {% if post.thumbnail contains '://' %}
                <img src="{{post.thumbnail}}" title="{{ post.title }}">
              {% else %}
                <img src="{{post.thumbnail | relative_url }}" title="{{ post.title }}">
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="syn-media-object-body">
          <h4 class="syn-mb-8">{{ post.title }}</h4>
          <div class="syn-body-2 syn-text-secondary syn-mb-8">{{ post.excerpt }}</div>
          <div>
            {% for tag in post.tags %}
              <a href="/tags/{{tag}}" class="syn-tag">{{ tag | replace: '-', ' ' | capitalize }}</a>
            {% endfor %}
          </div>
          <div class="syn-mt-16">
            <a href="{{ post.blog }}" target="_blank" rel="nofollow noopener noreferrer">
              <button class="syn-btn text theme-primary syn-mr-16">Guide</button>
            </a>
            <a href="{{ post.repository }}" target="_blank" rel="nofollow noopener noreferrer">
              <button class="syn-btn text theme-primary">Code</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
