<section id="search-results" style="display: none;">
  <p>Search results</p>
  <div class="entries">
  </div>
</section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
  <article>
    <h3>
      {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
      <a href="{{url}}">{{title}}</a>
    </h3>
  </article>
  {{/entries}}
</script>
{% endraw %}
<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
  $('#search-query').lunrSearch({
    indexUrl: '/js/index.json',
    results:  '#search-results',
    entries:  '.entries',
    template: '#search-results-template'
  });

  $('#search-query').on('keyup', function(el) {
    if(el.target.value.length < 3) {
      $('#main-content').show();
    } else {
      $('#main-content').hide();
    }
  });
});
</script>
