<side-nav-menu
  v-cloak
  class="syn-flex direction-column flex-item-grow syn-overflow-hidden">
  <ul slot-scope="{ toggle, activeSection }" class="syn-flex direction-column flex-item-grow syn-overflow-hidden">
    {% for domain in site.menus.main %}
      <li
        class="{% if page.menus[domain.identifier] %}cloak-item-grow cloak-flex cloak-direction-column{% else %}cloak-item-no-shrink{% endif %} syn-overflow-hidden main-nav-list-item"
        :class="{
          'flex-item-grow syn-flex direction-column': activeSection === '{{domain.identifier}}',
          'flex-item-no-shrink': activeSection !== '{{domain.identifier}}'
        }"
        >
        <a
          class="syn-font-weight-bold no-bg-active flex-item-no-shrink syn-flex justify-space-between align-center bordered{% if page.menus[domain.identifier] %} active cloak-open {% else %} syn-text-secondary {% endif %}"
          href="{{ domain.url }}"
          title="{{ domain.title }}"
          {% if domain.children %}
            @click.prevent="toggle('{{ domain.identifier }}')"
          {% endif %}
          :class="{
            'open': activeSection === '{{domain.identifier}}',
          }"
          id="{{ domain.identifier }}-link"
          >
          <span>
            {{ domain.title }}
          </span>
          {% if domain.children %}
            <span v-if="activeSection === '{{ domain.identifier }}'" {% unless page.menus[domain.identifier] %} class="cloak-hidden" {% endunless %}>
              {% include angle-up-svg.html %}
            </span>
            <span v-else {% if page.menus[domain.identifier] %} class="cloak-hidden" {% endif %}>
              {% include angle-down-svg.html %}
            </span>
          {% endif %}
        </a>
        {% if domain.children %}
          <ul id="{{domain.identifier}}-sub-menu" class="flex-item-grow syn-overflow-hidden-x syn-scrollable-y">
            {% for section in domain.children %}
            <li>
              <a
                class="{% if page.menus[domain.identifier].url == section.url %}active syn-font-weight-bold {% else %} syn-text-secondary {% endif %}"
                href="{{ section.url }}"
                title="{{ section.title }}">
                {{ section.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</side-nav-menu>
