<ul class="syn-flex direction-column flex-item-grow">
  {% for domain in site.menus.main %}
    <li {% if page.menus[domain.identifier] %} class="flex-item-grow syn-flex direction-column" {% endif %}>
      <a
        class="syn-font-weight-bold no-bg-active flex-item-no-shrink syn-flex justify-space-between align-center bordered{% if page.menus[domain.identifier] %} active {% else %} syn-text-secondary {% endif %}"
        href="{{ domain.url }}"
        title="{{ domain.title }}"
        style="height: auto;">
        <span>
          {{ domain.title }}
        </span>
        {% if domain.children %}
          {% if page.menus[domain.identifier] %}
            {% include angle-up-svg.html %}
          {% else %}
            {% include angle-down-svg.html %}
          {% endif %}
        {% endif %}
      </a>
      {% if domain.children %}
        <ul id="{{domain.identifier}}-sub-menu" class="flex-item-grow">
          {% for section in domain.children %}
          <li>
            <a
              class="{% if page.menus[domain.identifier].url == section.url %}active syn-font-weight-bold {% else %} syn-text-secondary {% endif %}"
              href="{{ section.url }}"
              title="{{ section.title }}">
              {{ section.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
