<side-nav-menu
  v-cloak
  class="syn-flex direction-column flex-item-grow syn-overflow-hidden">
  <ul slot-scope="{ toggle, openSection }" class="syn-flex direction-column flex-item-grow syn-overflow-hidden">
    {% for domain in site.menus.main %}
      {% assign domain_active = page.menus[domain.identifier] %}
      {% for section in domain.children %}
        {% if page.menus[section.identifier] %}
          {% assign domain_active = true %}
        {% endif %}
      {% endfor %}
      <li
        class="{% if domain_active %}cloak-open-nav-item{% else %}cloak-closed-nav-item{% endif %} syn-overflow-hidden"
        :class="{
          'open-nav-item': openSection === '{{domain.identifier}}',
          'closed-nav-item': openSection !== '{{domain.identifier}}'
        }"
        id="{{ domain.identifier }}-list-item"
        >
        <a
          class="syn-font-weight-bold no-bg-active flex-item-no-shrink syn-flex justify-space-between align-center bordered{% if domain_active %} active {% else %} syn-text-secondary {% endif %}"
          href="{{ domain.url }}"
          title="{{ domain.title }}"
          {% if domain.children %}
            @click.prevent.stop="toggle('{{ domain.identifier }}')"
          {% endif %}
          id="{{ domain.identifier }}-link">
          <span>
            {{ domain.title }}
          </span>
          {% if domain.children %}
            <span v-if="openSection === '{{ domain.identifier }}'" {% unless page.menus[domain.identifier] %} class="cloak-hidden" {% endunless %}>
              {% include angle-up-svg.html %}
            </span>
            <span v-else {% if page.menus[domain.identifier] %} class="cloak-hidden" {% endif %}>
              {% include angle-down-svg.html %}
            </span>
          {% endif %}
        </a>
        {% if domain.children %}
          <ul id="{{domain.identifier}}-sub-menu" class="syn-width-full flex-item-grow syn-overflow-hidden-x syn-scrollable-y">
            {% for section in domain.children %}
            <li class="{% if page.menus[section.identifier] %}open-nav-item{% else %}closed-nav-item{% endif %} syn-overflow-hidden">
              <a
                class="{% if page.menus[domain.identifier].url == section.url or page.menus[section.identifier] %}active syn-font-weight-bold {% else %} syn-text-secondary {% endif %} {% if section.children %}no-bg-active{% endif %}"
                href="{{ section.url }}"
                title="{{ section.title }}">
                {{ section.title }}
              </a>
              {% if section.children %}
                <ul id="{{section.identifier}}-sub-menu" class="syn-width-full flex-item-grow syn-overflow-hidden-x syn-scrollable-y">
                  {% for item in section.children %}
                  <li>
                    <a
                      class="{% if page.menus[section.identifier].url == item.url %}active syn-font-weight-bold {% else %} syn-text-secondary {% endif %}"
                      href="{{ item.url }}"
                      title="{{ item.title }}">
                      <span class="syn-ml-16">
                        {{ item.title }}
                      </span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</side-nav-menu>
