<!-- create array of 'basics' tags -->
{% assign basics_tags = "getting-started|algo-dev|how-to" | split:"|" %}

<div id="basics-index">

  <section class="row">
    <div class="two-columns">
    {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <!-- Pulls from data/tags.yml to allow for data defined name attr -->
      {% assign new_tag = site.data.tags[t] %}

      {% if basics_tags contains t %}

        
      <!--Commenting out for now
        {% if t == 'getting-started' %}
          <img src="{{ site.url }}/images/algodev_market.png" alt="teaser" itemprop="image">
        {% elsif t == 'algo-dev' %}
          <img src="{{ site.url }}/images/algodev_develop.png" alt="teaser" itemprop="image">
        {% endif %} -->

          <h2> {{ new_tag.name }}</h2>

          <section class="basics-posts">
          {% for post in site.categories["basics"] %}
            {% if post.tags contains t %}
              {% include post-list-with-excerpt.html %}
            {% endif %}
          {% endfor %}
          </section>
    </div> <!-- end .two-columns -->

      {% else %}
      <!-- skip tag if not in basics-tags -->
      {% continue %}
      {% endif %}

    {% endfor %}
  </section>
</div>
