/* ==========================================================================
   Base
   ========================================================================== */

/*
   Typography
   ========================================================================== */

body {
	font-family: $base-font;
	color: $text-color;
	@include font-size(12);
}

p {
	@include font-size(12,yes,18);
}

li {
	@include font-size(12);
}

/* Underlined text */

u,
ins {
	text-decoration: none;
	border-bottom: 1px solid $text-color;
}

/* Links */

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 20);
	}
	&:focus {
		@extend %tab-focus;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
