.hero {
  min-width: 100%;
  @include background(linear-gradient($hero-background-angle,
                      $hero-background-top,
                      $hero-background-bottom),
                      no-repeat $hero-background-top scroll);
  background-size: cover;
  margin-bottom: 5em;

  .hero-inner {
    padding: 0 em(16);
    @include outer-container;
  }

  .hero-copy {
    @include span-columns(12);
    margin-top: em(40);
    color: $white;
    text-align: center;
    margin-bottom: 3em;

    h1 {
      font-size: 2em;
    }

    @include media($medium) {
      @include span-columns(8);
      @include shift(2);
      margin-top: em(50);

        h1 {
          font-size: 3em;
        }

        p {
          font-size: 5em;
        }
    }
  }
}


