/* ==========================================================================
   Page layout
   ========================================================================== */

* {
  -webkit-font-smoothing: antialiased;
}

html, body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0; padding: 0;
}

/*
   Masthead
   ========================================================================== */

#masthead {
	padding: $gutter / 2.5;
	background-color: $black-nav;
  border-bottom: 1px solid $black;
  position: relative;
	z-index: 5;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.2);

	&.slide {
		@include transform(translate(-1600px,0));
	}
	.inner-wrap {
		@include outer-container;
	}
  .nav-image {
    display: inline-block;
    height: 18px;
  }

}

.site-title {
	@include row;
	@include media($large) {
		@include span-columns(6);
	}
	padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
	height: $masthead-height;
	text-decoration: none;
	color: $white;
	font-family: $alt-font;
	font-weight: 700;
	@include font-size(20,no);
	line-height: .5 * $masthead-height; // half the height to center vertically
	text-transform: uppercase;
}


/*
   Menus
   ========================================================================== */

.menu {
	li {
		float: left;
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			// line hover effect
			position: relative;
			display: block;
			margin-right: $gutter;
			padding: (.25 * $masthead-height) 0 (.25 * $masthead-height) ;
			height: $masthead-height;
			font-family: $font-family-sans-serif;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 2px;
				@include transition(width 0.3s);
			}
			&:before {
				width: 100%;
				background: transparent;
			}
			&:after {
				width: 0;
				background: $brand-primary;
			}
			&:active:after,
			&:hover:after {
				width: 100%;
			}
		}
	}
}

/* Top menu navigation */

.top-menu {
	display: none;
	position: relative;

	@include media($medium) {
		@include span-columns(6);
	}
	@include media($large) {
		@include span-columns(6);
		ul {
			position: absolute;
			right: 0;
		}
	}
	.home,
	.sub-menu-item {
		display: none;
	}
	li {
		a {
			@include font-size(12,no);
			line-height: .5 * $masthead-height; // half the height to center vertically
			color: $gray-medium;

      &:hover {
        color: $white;
      }
		}
	}
}

/*
   Page wrapper
   ========================================================================== */

#page-wrapper {
	padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}

/*
   Main content
   ========================================================================== */

#main {
	.inner-wrap {
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		@include fill-parent;
	}

	@at-root {
		.page-content {
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(16,yes,26);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(12,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
}

// page lead
.page-lead {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: $white;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		@include font-size(48);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}
// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}

.page-image {
	// make image flush with edges on small screens
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;

	@include media($medium) {
		margin: 0px;
		img {
			width: 80%;
			z-index: 1;
		}
	}

	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

// related posts sidebar, _includes/related.html
.related-posts {
	position: relative;
	margin-top: $gutter;
	padding: 10px 15px;
	border: 1px $gray-medium solid;
	border-radius: 4 * $border-radius;

	ul {
		padding-left: 0px;
	}

	h3 {
		@include font-size(18, no, 1);
	}
	h4 {
		@include font-size(14, no, 1);
	}
	h5 {
		@include font-size(12, no, 1);
	}

	@include media($medium) {
		@include span-columns(3);
		margin-left: 0;
		margin-right: 0;
	}
}

#basics-index {
	@include outer-container;

	.three-columns {
		@include span-columns(12);
		text-align: center;

		img {
			max-width: 60%;
		}

		@include media($medium) {
			@include span-columns(4);
			text-align: left;
		}
	}
}

.list-index {
	@include font-size(10, no);
	list-style-type: none;
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	margin-bottom: 20px;
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(16,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(12);
}

/*
   Site footer
   ========================================================================== */

#site-footer {
  background-color: $gray-dark;
  color: $white;
  margin-top: 4em;
  padding: 0 25px;

  .copyright {
		@include font-size(12);
  	text-align: center;

    @include media($medium) {
    	display: inline-block;
    }
		margin: 0;
		line-height: $footer-height;
	}
}

// wrapper  for sticky footer
#wrapper {
  flex: 1;
}

.bottom-menu {

	ul {
		text-align: center;
	}

	a {
		@include font-size(12,no);
		line-height: 36px;
		@include media($medium) {
			line-height: $footer-height;
		}
		font-family: $font-family-sans-serif;
		color: $gray-medium;
		display: inline-block;

    &:hover {
      color: $white;
    }
   }

  li {
		margin: 0 25px 0 0;
  }

	li:last-child a {
		@include media($medium) {
			margin-right: 0; // remove spacing from last menu link
		}
	}

	@include media($medium) {
		@include span-columns(5);

		ul {
			position: absolute;
			right: 25px;
		}

		li {
			float: left;
			display: block;
		}
	}
}
