/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: $gutter;
  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(3);
    @include omega(4n);
  }
  .entry-date {
    @include font-size(12,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(14,no);
  }
  .post-excerpt {
    @include font-size(12,yes,16);
  }
  .post-teaser {
    position: relative;
    display: block;
    img {
          width: 50%;
        }
  }

  &.navigation {
    text-align: center;
    @include media($micro) {
      width: 95%;
    }

    .teaser {
      max-width: 100px;
    }
  }
}

.tile-guides {
  @include outer-container;
  @include span-columns(3);
  text-align: center;
}



