openapi: 3.0.0
info:
  title: Algorithmia Management APIs
  description: APIs for managing actions on the Algorithmia platform
  termsOfService: https://algorithmia.com/terms
  contact:
    name: Algorithmia Support Team
    url: https://algorithmia.com/contact
    email: support@algorithmia.com
  version: 1.5.1
externalDocs:
  description: Developer Center
  url: https://algorithmia.com/developers
servers:
- url: "https://api.algorithmia.com"
  variables:
    apiServerUrl:
      description: URL to send API requests to
      default: https://api.algorithmia.com
tags:
- name: algorithms
  description: Algorithm operations
- name: users
  description: User operations
- name: organizations
  description: Organization operations
- name: scm
  description: Source code management operations
- name: secrets
  description: Secret store operations
- name: connectors
  description: Data connector operations
- name: data
  description: Data API operations
- name: eventlisteners
  description: Event listener operations
- name: builds
  description: Algorithm build operations
- name: auth
  description: Authentication and API key management
- name: usage
  description: Platform usage information
- name: invites
  description: Platform invite code management
- name: admin
  description: Platform administration operations
- name: style
  description: Platform front-end style configuration
- name: frontend
  description: Platform front-end configuration
- name: registries
  description: Optional registries images for mirroring
paths:
  /v1/admin/insights-connection:
    get:
      tags:
      - connections
      summary: Get the currently configured Insights connection
      operationId: getConnection
      responses:
        "200":
          description: Response containing a Connection Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionConfiguration'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
    post:
      tags:
      - connections
      summary: Set the Insights connection configuration
      operationId: updateConnection
      requestBody:
        $ref: '#/components/requestBodies/ConnectionConfigurationRequestBody'
      responses:
        "200":
          description: Response containing a Connection Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionConfiguration'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
    delete:
      tags:
      - connections
      summary: Delete all configured Insights connections
      operationId: deleteAllConnections
      responses:
        "204":
          description: The configuration was deleted successfully.
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/invites:
    get:
      tags:
      - invites
      summary: Get a list of invite codes
      operationId: getInvites
      responses:
        "200":
          description: Invite code response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InviteCode'
    post:
      tags:
      - invites
      summary: Add an invite code
      operationId: addInvite
      requestBody:
        $ref: '#/components/requestBodies/InviteCodeRequestBody'
      responses:
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "200":
          description: The invite code was added successfully
  /v1/admin/invites/{invite_code}:
    delete:
      tags:
      - invites
      summary: Delete an invite code
      operationId: deleteInvite
      parameters:
      - name: invite_code
        in: path
        description: the invite code to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully deleted invite code
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/reservations:
    get:
      tags:
      - admin
      - reservations
      summary: List reservations
      operationId: getReservations
      responses:
        "200":
          description: Reservations response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
    post:
      tags:
      - admin
      - reservations
      summary: Create a reservation
      operationId: createReservation
      requestBody:
        $ref: '#/components/requestBodies/ReservationCreateRequestBody'
      responses:
        "200":
          description: Successfully created the reservation
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/reservations/{reservation_id}:
    delete:
      tags:
      - admin
      - reservations
      summary: Delete a reservation
      operationId: deleteReservation
      parameters:
      - name: reservation_id
        in: path
        description: The reservation to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully deleted the reservation
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/usage:
    get:
      tags:
      - admin
      - usage
      summary: List usage information for users/orgs including caller
      description: Returns paginated algorithm usage information for a given date
        range for users and organizations on the cluster.
      operationId: getFullUsage
      parameters:
      - name: user
        in: query
        description: user or organization names
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: start date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: end date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: marker
        in: query
        description: Encoded pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page_size
        in: query
        description: maximum number of results to return in one query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Full usage report response to caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullUsageResult'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/usage/algorithms:
    get:
      tags:
      - admin
      - usage
      summary: List usage information for users/orgs by algorithm
      description: Returns paginated algorithm usage information for a given date
        range.
      operationId: getAlgorithmUsageResult
      parameters:
      - name: user
        in: query
        description: user or organization names
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: start date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: end date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: marker
        in: query
        description: Encoded pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page_size
        in: query
        description: maximum number of results to return in one query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Algorithm usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgorithmUsageResult'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/legacy-algorithms:
    get:
      tags:
      - admin
      - usage
      summary: Get legacy algorithm usage information
      description: Returns usage information on legacy algorithms
      operationId: getLegacyAlgorithmiUsageResult
      responses:
        "200":
          description: Legacay Algorithm usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyAlgorithmUsageResult'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/usage/users:
    get:
      tags:
      - admin
      - usage
      summary: List algorithm usage information for users/orgs grouped by user/org
      operationId: getUserUsageResult
      parameters:
      - name: user
        in: query
        description: user or organization names
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: start date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: end date of query range in UTC format (2021-03-22T00:00:00.000Z)
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: marker
        in: query
        description: Encoded pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page_size
        in: query
        description: maximum number of results to return in one query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: User usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUsageResult'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/features:
    get:
      tags:
      - admin
      summary: List available feature flags
      operationId: featureFlagList
      parameters:
      - name: username
        in: query
        description: The username of the user or organization
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Response with feature flag list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagList'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/features/{featureName}:
    put:
      tags:
      - admin
      summary: Enable/disable a feature flag globally
      operationId: toggleFeatureFlag
      parameters:
      - name: featureName
        in: path
        description: The name of the feature flag
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: username
        in: query
        description: The username of the user or organization
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FeatureFlagToggle'
      responses:
        "204":
          description: Flag value updated.
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/organizations/{orgName}/algorithms-host-usernames:
    get:
      tags:
      - organizations
      summary: List AlgorithmHostUsername "algorithm-id / functional-id" pairs
      operationId: getHostUsernames
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      responses:
        "200":
          description: Algorithm Host Username List
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlgorithmHostUsername'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
      - CookieAuth: []
    put:
      tags:
      - organizations
      summary: Add a list of AlgorithmHostUsername "algorithm-id / functional-id"
        pairs
      operationId: setHostUsernames
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      requestBody:
        $ref: '#/components/requestBodies/HostUpdateRequestBody'
      responses:
        "204":
          description: Mappings were succesfully updated
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
      - CookieAuth: []
  /v1/organizations/{orgName}/algorithms-host-usernames/{algorithmId}:
    delete:
      tags:
      - organizations
      summary: Delete functional-ids associated with an algorithm
      operationId: deleteHostUsernames
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      responses:
        "204":
          description: Mappings were succesfully deleted
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
      - CookieAuth: []
  /v1/admin/organization_host_information:
    put:
      tags:
      - admin
      - organizations
      summary: Update an organization host information mapping
      operationId: update
      requestBody:
        $ref: '#/components/requestBodies/OrganizationHostInformation'
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
  /v1/admin/organization_host_information/{orgName}:
    get:
      tags:
      - admin
      - organizations
      summary: Get an organization host information mapping
      operationId: getByOrgName
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      responses:
        "200":
          description: OrganizationHostInformation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationHostInformation'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
    post:
      tags:
      - admin
      - organizations
      summary: Create an organization host information mapping
      operationId: createOrganizationHostInformation
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateOrganizationHostInformation'
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
    delete:
      tags:
      - admin
      - organizations
      summary: Delete an organization host information mapping
      operationId: delete
      parameters:
      - name: orgName
        in: path
        description: Organization name
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - AdminApiKeyAuth: []
  /v1/admin/scms:
    post:
      tags:
      - admin
      - scm
      summary: Create an SCM configuration
      operationId: createScm
      requestBody:
        $ref: '#/components/requestBodies/ScmCreateRequestBody'
      responses:
        "201":
          description: Returns a single SCM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmConfigurationResponseDto'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "409":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/scms/{scmId}:
    delete:
      tags:
      - admin
      - scm
      summary: Delete an SCM configuration
      description: "Note that at least one SCM (source code management) configuration\
        \ must be enabled at any given time. If the SCM configuration is currently\
        \ enabled, is being used by an algorithm, or is an \"internal\" SCM configuration,\
        \ this call will fail and an appropriate error code will be returned."
      operationId: deleteScm
      parameters:
      - name: scmId
        in: path
        description: SCM ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The SCM was deleted successfully.
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
    patch:
      tags:
      - admin
      - scm
      summary: Update an SCM configuration
      operationId: updateScm
      parameters:
      - name: scmId
        in: path
        description: SCM ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ScmUpdateRequestBody'
      responses:
        "200":
          description: Returns a single SCM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmConfigurationResponseDto'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/scms/{scmId}/default:
    post:
      tags:
      - admin
      - scm
      summary: Set an SCM configuration as the default
      description: "Sets the specified SCM (source code management) configuration\
        \ to be the default for the cluster and removes this designation from the\
        \ previous default SCM configuration. If the SCM configuration in question\
        \ is currently disabled, this call will fail."
      operationId: setDefaultScm
      parameters:
      - name: scmId
        in: path
        description: SCM ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The SCM was marked as the default.
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/admin/secret-provider:
    get:
      tags:
      - admin
      - secrets
      summary: List secret providers
      operationId: adminListSecretProviders
      responses:
        "200":
          description: Provider Info response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderInfo'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
    post:
      tags:
      - admin
      - secrets
      summary: Create a secret provider
      operationId: createSecretProvider
      requestBody:
        $ref: '#/components/requestBodies/SecretProviderRequestBody'
      responses:
        "200":
          description: Provider Info response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/secret-provider/{providerId}:
    get:
      tags:
      - admin
      - secrets
      summary: Get a secret provider
      operationId: getSecretProvider
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      responses:
        "200":
          description: Provider Info response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
    post:
      tags:
      - admin
      - secrets
      summary: Update a secret provider
      operationId: updateProvider
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      requestBody:
        $ref: '#/components/requestBodies/SecretProviderRequestBody'
      responses:
        "200":
          description: Provider Info response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
    delete:
      tags:
      - admin
      - secrets
      summary: Delete a secret provider
      operationId: deleteProvider
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      responses:
        "204":
          description: The secret provider was deleted
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/users/{username}/keys:
    post:
      tags:
      - admin
      summary: Add a specific API key for a user
      operationId: importApiKey
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      responses:
        "200":
          description: Response containing a generated API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/plugins/secret-provider/{providerId}:
    get:
      tags:
      - admin
      - secrets
      summary: Check if a .jar file has been uploaded for a secret provider
      operationId: checkSecretProviderForJar
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      responses:
        "200":
          description: A .jar file exists
        "400":
          description: A .jar file does not exists
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
    post:
      tags:
      - admin
      - secrets
      summary: Upload a .jar file for a secret provider
      operationId: uploadJarForSecretProvider
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      responses:
        "200":
          description: The .jar was uploaded successfully
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/admin/plugins/secret-provider/{providerId}/default:
    post:
      tags:
      - admin
      - secrets
      summary: Set a secret provider as the default
      operationId: setDefaultSecretProvider
      parameters:
      - name: providerId
        in: path
        description: Secret UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
      responses:
        "204":
          description: The secret provider was marked as the default
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
  /v1/algo/{algorithmId}/{algoCallableVersion}:
    post:
      tags:
      - algorithms
      summary: Make a request to an algorithm by immutable identifier
      operationId: callAlgorithmById
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      - name: algoCallableVersion
        in: path
        description: "The specific version of the algorithm you wish to call. May\
          \ be left blank, in which case the latest publicly published version will\
          \ be used.\nExamples:\n- `latestPrivate`: Resolves to the latest version\
          \ you have published privately.\n- `06147a5f7726757845d04d5b24b6e2b1c797fc74`:\
          \ Resolves to a specific hash version of your algorithm. Useful for testing\
          \ a specific algorithm build.\n- `1.1.1`: Fully specified semantic version.\n\
          - `1.2.*`: Specified to the minor version level. Will resolve to the latest\
          \ publicly published version with minor version of 1.2.\n- `1.*`:\tSpecified\
          \ to the major version level. Will resolve to the latest publicly published\
          \ version with major version of 1.\n"
        required: true
        style: simple
        explode: false
        schema:
          pattern: "(^$|latestPrivate|^[a-z0-9]?$|^\\d(\\.(\\d+|\\*))?(\\.(\\d+|\\\
            *))?$)"
          type: string
      - name: timeout
        in: query
        description: Specifies the amount of time in seconds to wait for the algorithm
          to respond before returning an error. Defaults to 300 (5 min.)
        required: false
        style: form
        explode: true
        schema:
          type: number
          default: 300
      - name: stdout
        in: query
        description: Specifies whether data passed to `stdout` during invocation should
          be returned to the caller. This parameter is only respected when the caller
          is the algorithm owner.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: output
        in: query
        description: "Allows customization of the response. `raw` signfies that you\
          \ wish the algorithm's response to be returned to you without a JSON wrapper,\
          \ while `void` signifies that you do not wish to wait for an algorithm response.\
          \ In the latter case, the call will return immediately once the invocation\
          \ has begun."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - raw
          - void
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/text:
            schema:
              type: string
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "200":
          description: Returns the result of invoking an algorithm.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgorithmInvocationResult'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - ApiKeyAuth: []
  /v1/algo/{username}/{algoname}/{algoCallableVersion}:
    post:
      tags:
      - algorithms
      summary: Make a request to an algorithm
      description: This is the primary method to execute a request for an algorithm
      operationId: callAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: algoCallableVersion
        in: path
        description: "The specific version of the algorithm you wish to call. May\
          \ be left blank, in which case the latest publicly published version will\
          \ be used.\nExamples:\n- `latestPrivate`: Resolves to the latest version\
          \ you have published privately.\n- `06147a5f7726757845d04d5b24b6e2b1c797fc74`:\
          \ Resolves to a specific hash version of your algorithm. Useful for testing\
          \ a specific algorithm build.\n- `1.1.1`: Fully specified semantic version.\n\
          - `1.2.*`: Specified to the minor version level. Will resolve to the latest\
          \ publicly published version with minor version of 1.2.\n- `1.*`:\tSpecified\
          \ to the major version level. Will resolve to the latest publicly published\
          \ version with major version of 1.\n"
        required: true
        style: simple
        explode: false
        schema:
          pattern: "(^$|latestPrivate|^[a-z0-9]?$|^\\d(\\.(\\d+|\\*))?(\\.(\\d+|\\\
            *))?$)"
          type: string
      - name: timeout
        in: query
        description: Specifies the amount of time in seconds to wait for the algorithm
          to respond before returning an error. Defaults to 300 (5 min.)
        required: false
        style: form
        explode: true
        schema:
          type: number
          default: 300
      - name: stdout
        in: query
        description: Specifies whether data passed to `stdout` during invocation should
          be returned to the caller. This parameter is only respected when the caller
          is the algorithm owner.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: output
        in: query
        description: "Allows customization of the response. `raw` signfies that you\
          \ wish the algorithm's response to be returned to you without a JSON wrapper,\
          \ while `void` signifies that you do not wish to wait for an algorithm response.\
          \ In the latter case, the call will return immediately once the invocation\
          \ has begun."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - raw
          - void
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/text:
            schema:
              type: string
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "200":
          description: Returns the result of invoking an algorithm.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgorithmInvocationResult'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - ApiKeyAuth: []
  /v1/algorithms/{username}:
    get:
      tags:
      - algorithms
      summary: Get an algorithm
      operationId: getAlgorithmById
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      responses:
        "200":
          description: Publish Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
    put:
      tags:
      - algorithms
      summary: Update an algorithm
      operationId: updateAlgorithmById
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateRequest'
      responses:
        "200":
          description: "Create, Update Response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
    post:
      tags:
      - algorithms
      summary: Create an algorithm
      operationId: createAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRequest'
      responses:
        "201":
          description: "Create, Update Response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}:
    get:
      tags:
      - algorithms
      summary: Get algorithm metadata
      operationId: getAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Publish Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
    put:
      tags:
      - algorithms
      summary: Update algorithm metadata
      operationId: updateAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateRequest'
      responses:
        "200":
          description: "Create, Update Response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
    delete:
      tags:
      - algorithms
      summary: Delete an algorithm
      operationId: deleteAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The algorithm was successfully deleted.
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{algorithmId}/builds:
    get:
      tags:
      - algorithms
      - builds
      summary: Get algorithm builds by algorithm ID
      operationId: getAlgorithmByIdBuilds
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      - name: limit
        in: query
        description: The number of results to return in a single page
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: marker
        in: query
        description: Encoded pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Builds Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBuildsList'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/builds:
    get:
      tags:
      - algorithms
      - builds
      summary: Get algorithm builds by algorithm name
      operationId: getAlgorithmBuilds
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return in a single page
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: marker
        in: query
        description: Encoded pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Builds Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBuildsList'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{algorithmId}/builds/{buildid}:
    get:
      tags:
      - algorithms
      - builds
      summary: Get an algorithm build by algorithm ID and build ID
      operationId: getAlgorithmByIdBuildById
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      - name: buildid
        in: path
        description: Build ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Build Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/builds/{buildid}:
    get:
      tags:
      - algorithms
      - builds
      summary: Get an algorithm build by algorithm name and build ID
      operationId: getAlgorithmBuildById
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: buildid
        in: path
        description: Build ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Build Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{algorithmId}/builds/{buildid}/logs:
    get:
      tags:
      - algorithms
      - builds
      summary: Get algorithm build logs by algorithm ID and build ID
      operationId: getAlgorithmByIdBuildLogs
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      - name: buildid
        in: path
        description: Build ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Build Logs Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildLogs'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/builds/{buildid}/logs:
    get:
      tags:
      - algorithms
      - builds
      summary: Get algorithm build logs by algorithm name and build ID
      operationId: getAlgorithmBuildLogs
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: buildid
        in: path
        description: Build ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Build Logs Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildLogs'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{algorithmId}/compile:
    post:
      tags:
      - algorithms
      - builds
      summary: Compile an algorithm by algorithm ID
      description: "Compiles the latest available source code for an algorithm, resulting\
        \ in a new hash version of an algorithm available for publishing. For BitBucket\
        \ it's necessary to provide additional information in the request body."
      operationId: compileAlgorithmById
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/BuildRequest'
      responses:
        "200":
          description: Publish Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/compile:
    post:
      tags:
      - algorithms
      - builds
      summary: Compile an algorithm by algorithm name
      description: "Compiles the latest available source code for an algorithm, resulting\
        \ in a new hash version of an algorithm available for publishing."
      operationId: compileAlgorithm
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/BuildRequest'
      responses:
        "200":
          description: Publish Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{algorithmId}/errors:
    get:
      tags:
      - algorithms
      summary: Get algorithm errors by algorithm ID
      operationId: getAlgorithmErrorsByAlgorithmId
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      responses:
        "200":
          description: List of algorithm errors response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgorithmErrorEntry'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/errors:
    get:
      tags:
      - algorithms
      summary: Get algorithm errors by algorithm name
      operationId: getAlgorithmErrorsByAlgorithmName
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: List of algorithm errors response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgorithmErrorEntry'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/log:
    get:
      tags:
      - algorithms
      - builds
      summary: List commits for a repository
      operationId: commitLogForRepository
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: since
        in: query
        description: The first commit SHA of the repository to list in the commits.
          This is included in the result list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: until
        in: query
        description: The last commit SHA of the repository to list in the commits.
          This is included in the result list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Log of commits to a repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryCommitLog'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/scm/status:
    get:
      tags:
      - algorithms
      - builds
      - scm
      summary: Get algorithm SCM provider connection status
      operationId: getAlgorithmScmConnectionStatus
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Returns information about an algorithm's connection to its
            backing SCM provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmConnectionStatus'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - AdminApiKeyAuth: []
  /v1/algorithms/{algorithmId}/scm/webhook:
    post:
      tags:
      - algorithms
      - scm
      summary: Receive SCM repository events by algorithm ID
      description: This endpoint is called exclusively by SCM providers who wish to
        inform us of changes to repositories backing algorithms.
      operationId: receiveAlgorithmByIdScmRepositoryEvent
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/ScmWebhookRequestBody'
      responses:
        "202":
          description: The incoming webhook is not actionable
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
        "204":
          description: Webhook received.
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - GithubAuth: []
        GithubEventIdentification: []
      - XGitlabEvent: []
      - XBitbucketKey: []
  /v1/algorithms/{username}/{algoname}/scm/webhook:
    post:
      tags:
      - algorithms
      - scm
      summary: Receive SCM repository events by algorithm name
      description: This endpoint is called exclusively by SCM providers who wish to
        inform us of changes to repositories backing algorithms.
      operationId: receiveScmRepositoryEvent
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ScmWebhookRequestBody'
      responses:
        "202":
          description: The incoming webhook is not actionable
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
        "204":
          description: Webhook received.
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - GithubAuth: []
        GithubEventIdentification: []
      - XGitlabEvent: []
      - XBitbucketKey: []
  /v1/algorithms/{algorithmId}/versions:
    post:
      tags:
      - algorithms
      summary: Publish an algorithm's last successful build
      operationId: publishAlgorithmById
      parameters:
      - name: algorithmId
        in: path
        description: Algorithm UUID
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$"
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/VersionRequest'
      responses:
        "200":
          description: Publish Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        "400":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "401":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "403":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "404":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
        "500":
          description: Error response for all non-200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/Error'
      security:
      - CookieAuth: []
      - ApiKeyAuth: []
  /v1/algorithms/{username}/{algoname}/versions:
    get:
      tags:
      - algorithms
      summary: Get algorithm versions
      operationId: getAlgorithmVersions
      parameters:
      - name: username
        in: path
        description: The username of the user or organization
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 30
          pattern: "^[a-zA-Z][a-zA-Z0-9_]*$"
          type: string
      - name: algoname
        in: path
        description: Algorithm name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return in a single page
        required: false
        style: form
[...]
