---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">

	{% if page.image.feature %}
	<div class="page-feature">
		<div class="page-image">
			<!-- <img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image"> -->
			{% if page.image.credit %}{% include image-credit.html %}{% endif %}
		</div><!-- /.page-image -->
	</div><!-- /.page-feature -->
	{% endif %}

	{% include breadcrumbs.html %}

	<h2 class="whitespace-sm">{{ page.title }}</h2>
	{% include page-meta.html %}

	{% if page.repository %}
      <p class="github-note">
		Available on <a href='{{ page.repository }}' target='_blank' rel='nofollow'>GitHub</a>.
	  </p>
	{% endif %}

		<div id="content" class="page-content" itemprop="articleBody">
			{{ content }}

			<aside>
				{% if page.comments == true %}<hr />{% include comments.html %}{% endif %}
			</aside>

		</div><!-- /.content -->
	</article>