---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">

	{% if page.image.feature %}
	<div class="page-feature">
		<div class="page-image">
			<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			{% if page.image.credit %}{% include image-credit.html %}{% endif %}
		</div><!-- /.page-image -->
	</div><!-- /.page-feature -->
	{% endif %}

	<h2 class="whitespace-none">
		{% if image.teaser %}
		<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="icon" itemprop="image" class="title-icon">
		{% else %}
		<img src="{{ site.url }}/images//language_logos/algo_icon.svg" alt="icon" itemprop="image" class="title-icon">
		{% endif %}	
		{{ page.title }}
	</h2>
	{% include page-meta.html %}

	{% if page.repository %}
	      <p class="github-note">
			Available on <a href='{{ page.repository }}' target='_blank' rel='nofollow'>GitHub</a>.
		  </p>
	{% endif %}

		<div id="content" class="page-content" itemprop="articleBody">
			{{ content }}
			<hr />
			{% if page.categories %}{% include page-author.html %}{% endif %}
			<aside>
				{% if page.comments == true %}{% include comments.html %}{% endif %}
			</aside>

		</div><!-- /.content -->
	</article>