---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">

	{% if page.image.feature %}
	<div class="page-feature">
		<div class="page-image">
			<img src="{{ page.image.feature | prepend:'/images/' | relative_url }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			{% if page.image.credit %}{% include image-credit.html %}{% endif %}
		</div><!-- /.page-image -->
	</div><!-- /.page-feature -->
	{% endif %}

	{% include breadcrumbs.html %}

	<h1 id="page-title">{{ page.title }}</h1>

	<div id="content" itemprop="articleBody">
		{{ content }}
	</div><!-- /.content -->

</article>
