---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">

	{% if page.image.feature %}
	<div class="page-feature">
		<div class="page-image">
			<!-- <img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image"> -->
			{% if page.image.credit %}{% include image-credit.html %}{% endif %}
		</div><!-- /.page-image -->
	</div><!-- /.page-feature -->
	{% endif %}

	{% include breadcrumbs.html %}

	<h2>{% include title-icon.html %}{{ page.title }}</h2>

	<div id="content" itemprop="articleBody">
		{{ content }}
	</div><!-- /.content -->

</article>