---
layout: archive
exclude_from_search: true
---

{% case page.category %}

{% when 'basics' %}
  {% include category_index_pages/basics_index.html %}
{% when 'faqs' %}
  {% include category_index_pages/faqs_index.html %}
<!-- {% when 'clients' %}
  {% include category_index_pages/clients_index.html %} -->
<!-- {% when 'guides' %}
  {% include category_index_pages/algo_dev_index.html %} -->
<!-- {% when 'samples' %}
  {% include category_index_pages/samples_index.html %} -->
{% when 'algorithm-development' %}
  {% include category_index_pages/algo_dev_index.html %}
{% when 'application-development' %}
  {% include category_index_pages/app_dev_index.html %}
{% else %}
  {% include post-grid.html %}

{% endcase %}
