<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- BEGIN_HEAD_EMBED -->
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if site.setCanonicalLink %}
      <link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html','' | no_trailing_slash }}">
    {% endif %}

    {% if site.isLocalDev %}
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    {% else %}
    <link rel="shortcut icon" type="image/png" href="/v1/config/favicon">
    {% endif %}

    {% if page.robots %}
      <meta name="robots" content="{{ page.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ site.cdnurl }}{{ site.baseurl }}/css/pygments-github.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/vendors.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/synapse/dist/scoped-synapse.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/devcenter.css">
    <!-- END_HEAD_EMBED -->

    <link href="{{ site.url }}{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <meta http-equiv="cleartype" content="on">

    {% if site.webserver %}
      {% assign webserver = site.webserver %}
    {% else %}
      {% assign webserver = "https://algorithmia.com" %}
    {% endif %}

    <script>
      window.__ENTERPRISE = {{ site.enterprise }}
    </script>
  </head>

  <body>
    {% strip %}

    <!-- BEGIN_BODY_EMBED -->
    <div data-ng-app="algorithmia">
      {% include header.html %}
      <div id="wrapper">
        {% include hero.html %}
        <div class="container dev-center-content-container">
          <div class="row section">
            <div class="col-sm-8 col-md-8 col-sm-push-3 col-md-push-3">
              {% include search.html %}
              <div id="main-content">
                {{ content | emojify }}
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-sm-pull-8 col-md-pull-8 col-xs-12">
              <nav class="hidden-print">
                {% include navigation-side.html %}
              </nav>
            </div> <!-- END NAV CONTAINER -->
          </div>
        </div>
        {% include footer.html %}
      </div> <!-- end wrapper -->
    </div>
    <!-- END_BODY_EMBED -->

    {% endstrip %}

    <!-- BEGIN_SCRIPTS_EMBED -->
    {% unless site.enterprise %}
      <script src="{{ site.baseurl }}/js/sentry.5.7.1.min.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
      <script src="{{ site.baseurl }}/js/sentry.init.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
      <script src="{{ site.baseurl }}/js/segment.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
      <script src="{{ site.baseurl }}/js/bigPicture.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
    {% endunless %}
    <script src="{{ site.baseurl }}/js/core.cat.js"></script>
    <script src="{{ site.baseurl }}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/userCreds.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/stageCustomization.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $(function() {
      $('#search-query').lunrSearch({
        indexUrl: '{{ site.baseurl }}/js/index.json',
        results:  '#search-results',
        template: '#search-results-template',
        titleMsg: '<h3><small>SEARCH RESULTS</small></h3>',
        emptyMsg: '<p>No results found...</p>'
      });

      $('#search-query').on('input', function(evt) {
        if(evt.target.value.length < 3) {
          $('#main-content').show();
        } else {
          $('#main-content').hide();
        }
      });

      $('.sidebar .category > a').on('click', function(evt) {
        evt.preventDefault();
        evt.currentTarget.parentNode.classList.toggle('active');
      });

      // If there is a query string that will get picked up by lunrSearch
      //   then hide the page content by default
      // Note: the search input field doesn't get set by lunrSearch until index.json loads
      var uri = new URI(window.location.search.toString());
      var queryString = uri.search(true);
      if (queryString.hasOwnProperty('q')) {
        if(queryString.q.length >= 3) {
          $('#main-content').hide();
          $('#search-query').focus();
        }
      }
    });
    </script>
    <!-- END_SCRIPTS_EMBED -->
  </body>
</html>
