<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- BEGIN_HEAD_EMBED -->
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    <link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html','' }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments-github.css">
    <!-- END_HEAD_EMBED -->

    <link href="{{ site.url }}{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    {% if site.webserver %}
      {% assign webserver = site.webserver %}
    {% else %}
      {% assign webserver = "https://algorithmia.com" %}
    {% endif %}
    <link rel="stylesheet" media="screen" href="{{ webserver }}/versioned/stylesheets/bootstrap3.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ webserver }}/versioned/stylesheets/algo.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,100" rel="stylesheet" type="text/css">
  </head>

  <body id="js-body">
    {% include browser-upgrade.html %}
    {% include header.html %}
    {% strip %}

    <!-- BEGIN_BODY_EMBED -->
    <div id="wrapper" class="all">
      {% include hero.html %}

      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
            {% include search.html %}
            <div id="main-content">
              {{ content | emojify }}
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-sm-pull-9 col-md-pull-9 col-xs-12">
            <nav class="bs-docs-sidebar hidden-print">
              {% include navigation-side.html %}
            </nav>
          </div> <!-- END NAV CONTAINER -->
        </div>
      </div>
    </div> <!-- end wrapper -->
    <!-- END_BODY_EMBED -->

    {% endstrip %}
    {% include footer.html %}

    <script src="//s3.amazonaws.com/algorithmia-assets/js/jquery/2.1.3/jquery.min.js"></script>

    <!-- BEGIN_SCRIPTS_EMBED -->
    <script src="{{ site.baseurl }}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $(function() {
      $('#search-query').lunrSearch({
        indexUrl: '{{ site.baseurl }}/js/index.json',
        results:  '#search-results',
        template: '#search-results-template',
        titleMsg: '<p class="lg">Search results</p>',
        emptyMsg: '<p>No results found...</p>'
      });

      $('#search-query').on('keyup', function(el) {
        if(el.target.value.length < 3) {
          $('#main-content').show();
        } else {
          $('#main-content').hide();
        }
      });
    });
    </script>
    <!-- END_SCRIPTS_EMBED -->

  </body>
</html>
