---
layout: synapse-default
---
<div id="page-wrapper">

  <div id="main" role="main">
    <article itemscope itemtype="http://schema.org/Article" class="syn-article">
      {% include breadcrumbs.html %}
      {% assign tag = page.tags | first %}
      {% assign main_tag = site.data.tags[tag] %}

      <div class="faq-navigation">
      <h3>{{ main_tag.name }}</h3>
      </div>

      <div>
        <h2>{{ page.title }}</h2>
      </div>

        <div id="content" class="page-content" itemprop="articleBody">
          {{ content }}

          <div class="related-faqs">
          {% if page.show_related == true %}
              {% for tag in page.tags %}
                <!-- Pulls from data/tags.yml to allow for data defined name attr -->
              {% assign new_tag = site.data.tags[tag] %}
              <h4>Return to the <a href="{{ '/faqs' | relative_url }}">FAQ overview</a> or explore more {{ new_tag.name }}:</h4>
              <ul>
              {% for post in site.posts %}
                {% if post.tags contains tag and post.url != page.url %}
                  {% include post-list.html %}
                {% endif %}
              {% endfor %}
              </ul>
            {% endfor %}
          {% endif %}
          </div> <!-- .related-faqs -->
       </div><!-- /.content -->
    </article>
  </div><!-- /#main -->
</div>
