<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}
  {% include open-graph.html %}
  {% if site.setCanonicalLink %}
    <link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html','' | no_trailing_slash }}">
  {% endif %}

  {% if site.isLocalDev %}
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
  {% else %}
  <link rel="shortcut icon" type="image/png" href="/v1/config/favicon">
  {% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments-monokai.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/synapse/dist/synapse.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/devcenter.css">

  <link href="{{ site.url }}{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
  <link href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <meta http-equiv="cleartype" content="on">

  {% if site.webserver %}
    {% assign webserver = site.webserver %}
  {% else %}
    {% assign webserver = "https://algorithmia.com" %}
  {% endif %}
</head>

<body>
  <div class="syn-page syn-page-drawer-navigation" id="vue-app">
    <header class="syn-page-header syn-header-brand">
      <div class="syn-page-header-content">
        <button onclick="['nav-open', 'nav-collapsed'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))" class="syn-btn text icon rounded grow theme-light no-shadow" data-v-3352aef0="" data-v-19ae9fc3="">
          <svg width="1rem" height="1rem" viewBox="0 0 12 12">
            <path fill="currentColor" d="M0,2 L12,2 L12,3.344 L0,3.344 L0,2 Z M0,6.67 L0,5.33 L12,5.33 L12,6.67 L0,6.67 Z M0,10 L0,8.656 L12,8.656 L12,10 L0,10 Z"/>
          </svg>
        </button>
      </div>
      <div class="syn-page-header-nav syn-flex direction-column syn-overflow-hidden" onclick="['nav-open'].forEach((a) => document.querySelector('.syn-page-header').classList.toggle(a))">
        <div class="syn-mt-24 syn-ml-16 syn-mb-24 syn-mr-16 flex-item-no-shrink">
          <a href="/">
            {% if site.isLocalDev or site.enterprise %}
            <img
              src="{{ site.baseurl }}/images/algo-purple.svg"
              alt="Algorithmia Logo"
              style="max-height: 24px; max-width: 100%"
            />
            {% else %}
            <img
              src="/v1/config/logo"
              alt="Algorithmia Logo"
              style="max-height: 24px; max-width: 100%"
            />
            {% endif %}
          </a>
          <p class="syn-font-mono syn-caption syn-text-tertiary tagline syn-mt-8 syn-mb-0">Documentation</p>
        </div>
        <nav class="syn-nav flex-item-grow syn-flex direction-column syn-overflow-hidden">
          {% include nav-menu.html menu_id="main" menu_level=0 %}
        </nav>
      </div>
      <div class="syn-page-header-nav-backdrop" onclick="document.querySelector('.syn-page-header').classList.toggle('nav-open')"></div>
    </header>
    <main class="syn-page-main">
      <div class="syn-container syn-mt-32 syn-mb-48">
        {{ content | emojify }}
      </div>
    </main>
    <footer class="syn-page-footer"></footer>
    <toast />
  </div>
  {% unless site.enterprise %}
    <script src="{{ site.baseurl }}/js/sentry.5.7.1.min.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/sentry.init.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
  {% endunless %}
  <script src="{{site.baseurl}}/js/vue-build.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/core.cat.js"></script>
  <script src="{{ site.baseurl }}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/stageCustomization.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/api-docs-redirect.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '{{ site.baseurl }}/js/index.json',
      results:  '#search-results',
      template: '#search-results-template',
      titleMsg: '<h3><small>SEARCH RESULTS</small></h3>',
      emptyMsg: '<p>No results found...</p>'
    });

    $('#search-query').on('input', function(evt) {
      if(evt.target.value.length < 3) {
        $('#main-content').show();
      } else {
        $('#main-content').hide();
      }
    });

    $('.sidebar .category > a').on('click', function(evt) {
      evt.preventDefault();
      evt.currentTarget.parentNode.classList.toggle('active');
    });

    // If there is a query string that will get picked up by lunrSearch
    //   then hide the page content by default
    // Note: the search input field doesn't get set by lunrSearch until index.json loads
    var uri = new URI(window.location.search.toString());
    var queryString = uri.search(true);
    if (queryString.hasOwnProperty('q')) {
      if(queryString.q.length >= 3) {
        $('#main-content').hide();
        $('#search-query').focus();
      }
    }
  });
  </script>
</body>
</html>
