<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}
  {% include open-graph.html %}
  {% if site.setCanonicalLink %}
    <link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html','' | no_trailing_slash }}">
  {% endif %}

  {% if site.isLocalDev %}
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
  {% else %}
  <link rel="shortcut icon" type="image/png" href="/v1/config/favicon">
  {% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/material-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments-monokai.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/synapse/dist/synapse.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/devcenter.css">

  <link href="{{ site.url }}{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
  <link href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <meta http-equiv="cleartype" content="on">

  {% if site.webserver %}
    {% assign webserver = site.webserver %}
  {% else %}
    {% assign webserver = "https://algorithmia.com" %}
  {% endif %}
  <script src="{{site.baseurl}}/userCustomizations.js" type="text/javascript" charset="utf-8"></script>
  <script>
    // Hide the app as soon as possible in the rendering of the DOM,
    // to prevent a case where the default colors/titles are rendered before
    // customization values are added. We generate the CSS that hides the body
    // content with JS to prevent a case where the page is completely hidden to
    // someone with JS disabled.
    const style = document.createElement('style')
    style.appendChild(
      document.createTextNode('.js-only-initial-hide { display: none; }')
    )
    document.head.appendChild(style)
  </script>
</head>

<body>
  <div class="syn-page syn-page-drawer-navigation js-only-initial-hide" id="vue-app">
    <header class="syn-page-header syn-header-brand" :class="{ 'nav-open': isMobileMenuOpen, 'nav-collapsed': isAppNavCollapsed }">
      <div class="syn-page-header-content">
        <button @click="toggleSideMenu" class="syn-btn text icon rounded grow theme-light no-shadow">
          <i class="material-icons icon-size-24">menu</i>
        </button>
      </div>
      <div class="syn-page-header-nav syn-flex direction-column syn-overflow-hidden" @click="toggleSideMenu">
        <div class="syn-mt-24 syn-ml-16 syn-mb-24 syn-mr-16 flex-item-no-shrink">
          <a href="/">
            {% if site.isLocalDev or site.enterprise %}
            <img
              src="{{ site.baseurl }}/images/algo-purple.svg"
              alt="Algorithmia Logo"
              style="max-height: 24px; max-width: 100%"
            />
            {% else %}
            <img
              src="/v1/config/logo"
              alt="Algorithmia Logo"
              style="max-height: 24px; max-width: 100%"
            />
            {% endif %}
          </a>
          <p class="syn-font-mono syn-caption syn-text-tertiary tagline syn-mt-8 syn-mb-0" id="brand-title">Documentation</p>
        </div>
        <div>
          <search-input />
        </div>
        <nav class="syn-nav flex-item-grow syn-flex direction-column syn-overflow-hidden">
          {% include nav-menu.html menu_id="main" menu_level=0 %}
        </nav>
      </div>
      <div class="syn-page-header-nav-backdrop" @click="toggleSideMenu"></div>
    </header>
    <main class="syn-page-main" id="scrollspy-content">
      <div class="syn-container syn-mt-32 syn-mb-48">
        <div v-if="showSearchResults">
          <search-results />
        </div>
        <div v-else>
          {{ content | emojify }}
        </div>
      </div>
    </main>
    <footer class="syn-page-footer"></footer>
    <toast />
  </div>
  {% unless site.enterprise or site.isLocalDev %}
    <script src="{{ site.baseurl }}/js/sentry.5.7.1.min.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/js/sentry.init.js" type="text/javascript" crossorigin="anonymous" charset="utf-8"></script>
  {% endunless %}
  <script src="{{site.baseurl}}/js/vue-build.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/core.cat.js"></script>
  <script src="{{ site.baseurl }}/js/stageCustomization.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/api-docs-redirect.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  $(function() {
    $('.sidebar .category > a').on('click', function(evt) {
      evt.preventDefault();
      evt.currentTarget.parentNode.classList.toggle('active');
    });
  });
  </script>
</body>
</html>
